* {box-sizing: border-box;}
body{margin: 0;}
div.search {padding: 30px 0}
.c {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #ce3524;
  border-radius:0 42px 42px 0;
  outline: none;
  background: #ffffff;
  color:#ce3524;
}
.d1 button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #d15548;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

